  <div class='jumbotron'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-1'>
        <h1> Instructors </h1>
        <h3>
          <ul>
            <li>Sumbit jobs </li>
            <li>Apply for jobs</li>
            <li>View awarded jobs</li>
          </ul>
        </h3>
        <br>
        <a href='<%= instructor_path %>'>
          <button class='btn btn-lg btn-primary'>
            Go
          </button>
        </a>
      </div>
      <div class='col-sm-4 col-sm-offset-2'>
        <h1> Admins </h1>
        <h3>
          <ul>
            <li>Sumbit jobs </li>
            <li>View applications</li>
            <li>Award Jobs</li>
          </ul>
        </h3>
        <br>
        <a href='<%= admin_path %>'>
          <button class='btn btn-lg btn-primary'>
            Go
          </button>
        </a>
      </div>
  </div>
</div>
