<button type='button' class='btn btn-primary btn-block' data-toggle='modal' data-target='#new-job' >
  Create Job
</button>


<!-- Create job button -->
<%= render 'jobs/new' %>
<br />

<!-- Available jobs section -->
<%= render 'jobs/available' %>
<br />

<!-- Awarded jobs section -->
<%= render 'jobs/awarded' %>
