<!-- Create job button -->
<button type='button' class='btn btn-primary btn-block' data-toggle='modal' data-target='#new-job' >
  Create Job
</button>
<br />

<!-- Available jobs section -->
<%= render 'jobs/available' %>
<br />

<!-- Awarded jobs section -->
<%= render 'jobs/awarded' %>

<!-- New job and new app modals -->
<%= render 'jobs/new' %>
<%= render 'jobs/apply' %>
