<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#new-job' >
  Create Job
</button>


<!-- Create job button -->
<%= render 'jobs/new' %>

<!-- Available jobs section -->


<!-- Awarded jobs section -->
