<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ProTrainings UK", root_path, id: "logo", class: "navbar-brand" %>
    </div>

    <div class='collapse navbar-collapse' id='main-menu'>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Instructor", instructor_path %></li>
          <li><%= link_to "Admin", admin_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
